.transactionHistory {
  width: 800px;
  text-align: center;
  font-size: 20px;
}

.tableHead {
  background-color: aqua;
  font-size: 24px;
  font-weight: bold;
}
.tableBody {
  background-color: antiquewhite;
}
