.Transaction-history {
  width: 800px;
  text-align: center;
  font-size: 20px;
}

.Transaction-history__table-head {
  background-color: aqua;
  font-size: 24px;
  font-weight: bold;
}
.Transaction-history__table-body {
  background-color: antiquewhite;
}
